<h1><%= @survey.name() %></h1>

<% if @questions.any?() %>
  <h3>Here are all the questions for this survey:</h3>
  <% @questions.each do |question| %>
    <a href="/questions/<%= question.id() %>"></a>
  <% end %>
<% else %>
    <p>There are no questions for this survey</p>
<% end %>


<a href="/surveys/<%= @survey.id %>/edit">Edit Survey</a>
